footer {
    color: #fff;
    background-color: #0d6c68;
}

.big-footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 80px 100px;
    border-bottom: 1px solid #fff;
}

.footer-info h4,
.footer-links h4,
.footer-services h4,
.footer-contacts h4 {
    font-size: clamp(20px, 4vw, 24px);
    margin-bottom: 25px;
}

.footer-info p {
    max-width: 80%;
    font-size: clamp(18px, 4vw, 20px);
    max-width: 350px;
}

.big-footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.big-footer ul li {
    margin-bottom: 20px;
}

.big-footer ul li a {
    font-size: clamp(18px, 4vw, 20px);
    transition: color 0.3s ease;
    text-decoration: none;
    color: #fff;
}

.big-footer ul li a:hover {
    color: #ccc;
}

.footer-contacts ul li {
    display: flex;
    gap: 10px;
    align-items: center;
}

.small-footer {
    text-align: center;
    padding: 20px 0;
    background-color: #0b5a57;
    font-size: clamp(16px, 4vw, 18px);
}

@media (max-width: 992px) {
    .big-footer {
        padding: 60px 40px;
        gap: 30px;
    }
}

@media (max-width: 768px) {
    .big-footer {
        grid-template-columns: 1fr;
        text-align: center;
        padding: 50px 30px;
    }
    .big-footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footer-contacts ul {
        justify-content: center;
    }
}
