footer {
    color: #fff;
    background-color: #0d6c68;
}

.big-footer {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    padding: 80px 100px;
    border-bottom: 1px solid #fff;
}


.footer-info h2 {
    font-size: clamp(20px, 4vw, 22px);
    margin-bottom: 20px;
}

.footer-links h4,
.footer-services h4,
.footer-contacts h4 {
    font-size: clamp(16px, 4vw, 18px);
    margin-bottom: 20px;
}


.footer-info p {
    font-size: clamp(14px, 4vw, 16px);
    max-width: 300px;
    color: #f8f8f8;
}

.big-footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
    color: #f8f8f8;
}

.big-footer ul li {
    margin-bottom: 10px;
}

.big-footer ul li a {
    font-size: clamp(14px, 4vw, 16px);
    transition: color 0.3s ease;
    text-decoration: none;
}

.big-footer ul li a:hover {
    color: #ccc;
}

.footer-links {
    min-width: 180px;
}

.footer-contacts ul li {
    display: flex;
    gap: 10px;
    align-items: center;
}

.small-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    background-color: #0b5a57;
    font-size: clamp(14px, 4vw, 16px);
}
.small-footer p {
    max-width: 95%;
    text-align: center;
}

@media (max-width: 992px) {
    .big-footer {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        padding: 60px;
        gap: 30px;
    }
}

@media (max-width: 768px) {
    .big-footer {
        display: flex;
        flex-wrap: wrap;
        padding: 50px 20px;
    }
    .footer-info p {
        min-width: 100%;
        max-width: none;
    }
    .footer-services {
        min-width: 150px;
        flex: 1;
    }
}

@media (max-width: 400px) {
    .big-footer {
        padding: 50px 50px;
    }
}